html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  position: relative;
  max-width: 1500px;
  margin: 0 auto; }

.btn {
  padding: 15px;
  width: 180px;
  height: 150px;
  align-self: center;
  cursor: pointer;
  font-family: 'Walter Turncoat', cursive;
  color: #fff;
  background-color: #013870;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 0px #808080; }
  .btn:hover {
    background-color: #399E5A; }
  .btn:focus {
    outline: 0; }

.logo:hover {
  color: #013870;
  cursor: pointer; }
.logo h1 {
  font-family: 'Fontdiner Swanky', cursive;
  margin-top: 15px;
  text-shadow: 3px 3px 1px #808080;
  font-size: 2.2em;
  line-height: 20px; }
.logo .pet-care {
  text-shadow: 2px 2px 1px #808080;
  font-size: 1em;
  margin-top: 5px;
  text-align: center; }

header {
  color: #FFF; }
  header ul li {
    font-family: 'Varela', sans-serif;
    font-size: 1.4em;
    text-shadow: 2px 2px 0px #808080; }
    header ul li:hover {
      color: #013870;
      cursor: pointer; }

.menu {
  font-family: 'Varela', sans-serif;
  font-size: 1.5em;
  text-shadow: 2px 2px 2px #808080; }
  .menu li:hover {
    color: #013870;
    cursor: pointer; }

footer h2 {
  font-family: 'Varela', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 0px #808080; }

.tag-line {
  font-family: 'Walter Turncoat', cursive;
  color: #FFF;
  font-size: 3.5em;
  text-shadow: 2px 2px 0px #808080; }
  @media (max-width: 580px) {
    .tag-line {
      font-size: 2.3em;
      margin-top: 50px; } }

.service-wrap div {
  font-family: 'Walter Turncoat', cursive;
  color: #fff; }
  .service-wrap div h2 {
    font-size: 2em;
    text-shadow: 3px 3px 3px #000; }
  .service-wrap div ul {
    font-size: 1.15em;
    text-shadow: 3px 3px 3px #000; }
.service-wrap div div {
  font-family: 'Varela', sans-serif;
  color: #013870;
  text-shadow: 0px 0px 0px black; }
  .service-wrap div div:hover {
    color: #013870;
    cursor: pointer; }

.training-detail, .coaching-detail, .walking-detail, .pet-sitting-detail, .bathing-detail, .nail-trimming-detail {
  font-family: 'Varela', sans-serif;
  color: #013870; }
  .training-detail h3, .coaching-detail h3, .walking-detail h3, .pet-sitting-detail h3, .bathing-detail h3, .nail-trimming-detail h3 {
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px; }
    @media (max-width: 580px) {
      .training-detail h3, .coaching-detail h3, .walking-detail h3, .pet-sitting-detail h3, .bathing-detail h3, .nail-trimming-detail h3 {
        font-size: 1.8em; } }
  .training-detail li, .coaching-detail li, .walking-detail li, .pet-sitting-detail li, .bathing-detail li, .nail-trimming-detail li {
    margin-bottom: 5px;
    text-shadow: 0px 0px 0px black; }
    @media (max-width: 580px) {
      .training-detail li, .coaching-detail li, .walking-detail li, .pet-sitting-detail li, .bathing-detail li, .nail-trimming-detail li {
        font-size: 0.9em; } }
  .training-detail h4, .coaching-detail h4, .walking-detail h4, .pet-sitting-detail h4, .bathing-detail h4, .nail-trimming-detail h4 {
    font-size: 1.5em; }
    @media (max-width: 580px) {
      .training-detail h4, .coaching-detail h4, .walking-detail h4, .pet-sitting-detail h4, .bathing-detail h4, .nail-trimming-detail h4 {
        font-size: 1.2em; } }
  .training-detail h5, .coaching-detail h5, .walking-detail h5, .pet-sitting-detail h5, .bathing-detail h5, .nail-trimming-detail h5 {
    margin-top: 35px; }

.about-container {
  font-family: 'Varela', sans-serif; }
  .about-container h2 {
    font-size: 1.8em;
    font-weight: bold; }
  .about-container p {
    font-size: 1.2em;
    line-height: 1.2em; }

.contact-container {
  font-family: 'Varela', sans-serif;
  color: #013870; }
  .contact-container h2 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px; }
    @media (max-width: 580px) {
      .contact-container h2 {
        font-size: 1.2em;
        margin-bottom: 15px; } }
  .contact-container label {
    margin-bottom: 5px; }
    @media (max-width: 580px) {
      .contact-container label {
        font-size: 0.80em;
        margin-bottom: 12px; } }
  .contact-container input {
    margin-bottom: 10px; }

header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
  background-color: #399E5A; }
  @media (max-width: 580px) {
    header {
      flex-direction: column;
      height: 100px; } }
  header .nav-left, header .nav-right {
    display: flex;
    position: relative; }
  header ul {
    display: flex;
    align-items: flex-end;
    padding: 0 20px 5px 10px; }
    @media (max-width: 1000px) {
      header ul {
        padding: 0 10px 5px 5px; }
        header ul:hover + .menu {
          display: block; } }
    header ul li {
      padding: 0 40px; }
      @media (max-width: 1000px) {
        header ul li {
          padding: 0 20px; } }

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 40px; }
  @media (max-width: 580px) {
    .logo {
      padding-left: 0;
      justify-content: center;
      width: 100%;
      margin-top: 10px; } }

.small {
  display: none; }
  @media (max-width: 1000px) {
    .small {
      display: block; } }
  @media (max-width: 580px) {
    .small {
      padding-left: 30px; } }

@media (max-width: 1000px) {
  .large {
    display: none; } }

.menu {
  display: none;
  position: absolute;
  z-index: 15;
  bottom: -170%;
  right: 0%;
  width: 140px;
  background-color: #399E5A; }
  .menu:hover {
    display: block; }
  @media (max-width: 580px) {
    .menu {
      top: 100%;
      left: 0;
      width: 100%;
      height: 135px; } }
  .menu li {
    width: 100%;
    padding: 10px 10px;
    border-top: 2px solid #eaf6de; }

a {
  color: #FFF;
  text-decoration: none; }
  a:hover {
    color: #013870; }

footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 0 5%;
  background-color: #399E5A;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  footer h2 {
    align-self: center; }
  @media (max-width: 580px) {
    footer {
      height: 60px; } }
  footer .top-scroll img {
    width: 80%;
    height: 80%;
    cursor: pointer; }

.nav-container {
  height: 90vh;
  margin-top: 10vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.landing {
  background: url(../img/landing.jpg) no-repeat;
  opacity: 0.8;
  background-size: cover;
  background-color: rgba(114, 120, 109, 0.4); }

.tag-line {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 150px;
  border-radius: 30px;
  padding: 15px;
  margin-top: 15%;
  position: relative; }
  @media (max-width: 580px) {
    .tag-line {
      margin-top: 25%; } }

.down-arrow {
  text-align: center;
  margin-top: 100px; }
  @media (max-width: 775px) {
    .down-arrow {
      margin-top: 50px; } }
  @media (max-width: 580px) {
    .down-arrow {
      margin-top: 20px; } }
  .down-arrow img {
    width: 150px;
    height: 115px;
    transition: all linear 300ms;
    cursor: pointer; }
    .down-arrow img:hover {
      width: 200px;
      height: 150px; }

.petFinder {
  position: absolute;
  display: flex;
  align-items: center;
  font-family: 'Walter Turncoat', cursive;
  font-size: 1.5em;
  width: 325px;
  height: 75px;
  background-color: #013870;
  box-shadow: 2px 2px 0px #808080;
  color: #FFF;
  border-radius: 10px;
  bottom: 20px;
  right: 50px;
  text-align: center;
  cursor: pointer; }
  .petFinder span {
    font-size: 0.7em; }
  .petFinder #right-arrow {
    margin-right: 5px;
    font-size: 1.5em; }
  @media (max-width: 775px) {
    .petFinder {
      bottom: 0px;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 10px auto; } }

.service-container {
  width: 100%;
  min-height: 1375px;
  padding: 75px 0;
  margin: 0 auto;
  background-color: #eaf6de; }
  .service-container .service-wrap {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto; }
    .service-container .service-wrap div {
      height: 435px; }
      @media (max-width: 580px) {
        .service-container .service-wrap div {
          height: 490px; } }

.training {
  background: url(../img/dog-training.jpg) right no-repeat;
  background-size: cover;
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.8;
  position: relative;
  overflow: hidden; }
  .training:hover {
    cursor: pointer;
    color: #fff;
    opacity: 1; }
  .training:hover > .training-detail {
    left: 0; }
  .training ul {
    align-self: flex-end; }
    .training ul li {
      padding-bottom: 10px; }
  .training .training-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms; }
  @media (max-width: 1000px) {
    .training {
      width: 100%; } }

.coaching {
  background: url(../img/coaching.jpg) center no-repeat;
  background-size: cover;
  width: 40%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.8;
  position: relative;
  overflow: hidden; }
  .coaching:hover {
    cursor: pointer;
    color: #fff;
    opacity: 1; }
  .coaching:hover > .coaching-detail {
    left: 0; }
  .coaching ul {
    align-self: flex-end; }
  .coaching .coaching-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 15px 20px 20px 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms; }
  @media (max-width: 1000px) {
    .coaching {
      width: 50%; } }
  @media (max-width: 775px) {
    .coaching {
      width: 100%; } }

.walking {
  background: url(../img/dogwalking.jpg) center no-repeat;
  background-size: cover;
  width: 40%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.8;
  position: relative;
  overflow: hidden; }
  .walking:hover {
    cursor: pointer;
    color: #fff;
    opacity: 1; }
  .walking:hover > .walking-detail {
    left: 0; }
  .walking .walking-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms; }
  .walking ul {
    align-self: flex-end; }
    .walking ul li {
      padding-bottom: 10px; }
  @media (max-width: 1000px) {
    .walking {
      width: 50%; } }
  @media (max-width: 775px) {
    .walking {
      width: 100%; } }

.pet-sitting {
  background: url(../img/pet-sitting.png) center no-repeat;
  background-size: cover;
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.8;
  position: relative;
  overflow: hidden; }
  .pet-sitting:hover {
    cursor: pointer;
    color: #fff;
    opacity: 1; }
  .pet-sitting:hover > .pet-sitting-detail {
    left: 0; }
  .pet-sitting .pet-sitting-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms; }
  .pet-sitting ul {
    align-self: flex-end; }
    .pet-sitting ul li {
      padding-bottom: 10px; }
  @media (max-width: 1000px) {
    .pet-sitting {
      width: 100%; } }

.bathing {
  background: url(../img/dog-bathing.jpg) center no-repeat;
  background-size: cover;
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.8;
  position: relative;
  overflow: hidden; }
  .bathing:hover {
    cursor: pointer;
    color: #fff;
    opacity: 1; }
  .bathing:hover > .bathing-detail {
    left: 0; }
  .bathing .bathing-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms; }
  .bathing ul {
    align-self: flex-end; }
    .bathing ul li {
      padding-bottom: 10px; }
  @media (max-width: 775px) {
    .bathing {
      width: 100%; } }

.nail-trimming {
  background: url(../img/nail-trimming.jpg) center no-repeat;
  background-size: cover;
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.8;
  position: relative;
  overflow: hidden; }
  .nail-trimming:hover {
    cursor: pointer;
    color: #fff;
    opacity: 1; }
  .nail-trimming:hover > .nail-trimming-detail {
    left: 0; }
  .nail-trimming .nail-trimming-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms; }
  .nail-trimming ul {
    align-self: flex-end; }
    .nail-trimming ul li {
      padding-bottom: 10px; }
  @media (max-width: 775px) {
    .nail-trimming {
      width: 100%; } }

.about-container {
  color: #FFF;
  width: 100%;
  background-color: #FFF;
  padding-top: 80px; }
  .about-container h2 {
    margin-bottom: 10px; }
  .about-container .about-left {
    display: flex;
    flex-wrap: wrap;
    min-height: 400px;
    width: 100%;
    padding: 15px; }
    .about-container .about-left img {
      width: 250px;
      height: 360px;
      border-radius: 50%;
      box-shadow: 2px 2px 2px #808080; }
  .about-container .about-right {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px;
    min-height: 400px;
    padding: 15px; }
    .about-container .about-right img {
      align-self: flex-start;
      width: 90%;
      height: 380px;
      border-radius: 20%;
      filter: brightness(80%);
      box-shadow: 4px 4px 4px #808080;
      opacity: 0.8; }
      @media (max-width: 1000px) {
        .about-container .about-right img {
          height: 400px; } }
      @media (max-width: 580px) {
        .about-container .about-right img {
          height: 275px; } }
    @media (max-width: 1000px) {
      .about-container .about-right {
        flex-wrap: wrap-reverse; } }

.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }
  @media (max-width: 1000px) {
    .about-image {
      width: 100%;
      margin: 2px auto; } }

.story, .experience {
  background-image: radial-gradient(50% 150%, #6A91A9 20%, rgba(0, 0, 0, 0.57) 100%);
  margin: auto;
  width: 45%;
  padding: 25px;
  min-height: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20px; }
  @media (max-width: 1000px) {
    .story, .experience {
      width: 100%;
      margin: 20px auto; } }

.testimonials-wrap {
  padding: 25px; }
  @media (max-width: 1000px) {
    .testimonials-wrap {
      padding-top: 0; } }
  .testimonials-wrap .testimonials {
    background-image: radial-gradient(50% 150%, #6A91A9 20%, rgba(0, 0, 0, 0.57) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    width: 65%;
    border-radius: 20px;
    padding: 25px; }
    .testimonials-wrap .testimonials p {
      margin-bottom: 10px; }
    @media (max-width: 1000px) {
      .testimonials-wrap .testimonials {
        width: 100%; } }

.contact-container {
  background: url(../img/trees.jpg) center no-repeat;
  background-size: cover;
  opacity: 0.7;
  height: auto;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 25px;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 580px) {
    .contact-container {
      padding-top: 10px; } }
  .contact-container .image {
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between; }
    .contact-container .image img {
      height: 150px;
      width: 200px; }
      @media (max-width: 775px) {
        .contact-container .image img {
          height: 100px;
          width: 130px; } }
    @media (max-width: 775px) {
      .contact-container .image {
        width: 500px; } }
    @media (max-width: 580px) {
      .contact-container .image {
        width: 95%;
        margin: 0 auto; } }
  .contact-container form {
    height: 350px;
    margin: auto;
    width: 625px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #eaf6de;
    border-radius: 20px; }
    .contact-container form .contact {
      height: 70px;
      width: 140px; }
    .contact-container form .question {
      height: 200px;
      margin-bottom: 10px; }
    @media (max-width: 775px) {
      .contact-container form {
        width: 500px; } }
    @media (max-width: 580px) {
      .contact-container form {
        width: 95%;
        margin: 0 auto;
        height: 350px; } }

.petfinder-container {
  width: 100%;
  min-height: 81vh;
  background: url(../img/trees.jpg) center no-repeat;
  background-size: cover;
  opacity: 0.7;
  margin-top: 10vh;
  padding-top: 2vh;
  padding-bottom: 2vh; }
  .petfinder-container h1 {
    font-family: 'Walter Turncoat', cursive;
    color: #FFF;
    text-align: center;
    font-size: 3em;
    margin-top: 20px;
    text-shadow: 2px 2px 0px #808080; }
    @media (max-width: 775px) {
      .petfinder-container h1 {
        font-size: 2.5em;
        margin-top: 40px; } }

.petFind {
  width: 60%;
  margin: 2vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eaf6de;
  border-radius: 10px;
  padding: 15px;
  font-family: 'Varela', sans-serif;
  color: #013870; }
  @media (max-width: 775px) {
    .petFind {
      width: 80%; } }
  .petFind h2 {
    font-size: 1.5em;
    margin-bottom: 25px;
    text-align: center; }
  .petFind button {
    width: 150px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
    cursor: pointer; }
  .petFind select {
    margin-bottom: 15px;
    width: 60%;
    height: 30px; }

.results {
  position: absolute;
  top: 10vh;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; }
  @media (max-width: 580px) {
    .results {
      top: 13vh;
      margin-top: 30px; } }

.petResults {
  width: 30%;
  padding: 20px;
  height: 400px;
  overflow: scroll;
  margin: 15px;
  background-image: radial-gradient(50% 150%, #6A91A9 20%, rgba(0, 0, 0, 0.57) 100%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  list-style: none;
  font-family: 'Varela', sans-serif;
  color: #FFF; }
  .petResults h2 {
    text-align: center; }
  @media (max-width: 900px) {
    .petResults {
      width: 40%; } }
  @media (max-width: 650px) {
    .petResults {
      width: 60%; } }
  @media (max-width: 475px) {
    .petResults {
      width: 80%; } }

.petImage {
  width: 200px;
  height: 135px;
  margin: 10px auto 10px auto; }

/*# sourceMappingURL=application.css.map */
