html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  position: relative;
  max-width: 1500px;
  margin: 0 auto; }

.logo {
  font-family: 'Kumar One', cursive; }
  .logo h1 {
    margin-top: 15px;
    text-shadow: 3px 3px 3px #808080;
    font-size: 2em;
    line-height: 20px; }
    .logo h1:hover {
      color: #013870;
      cursor: pointer; }
  .logo .pet-care {
    text-shadow: 2px 2px 2px #808080;
    font-size: 0.5em; }

header {
  color: white; }
  header ul li {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.8em;
    text-shadow: 2px 2px 2px #808080; }
    header ul li:hover {
      color: #013870;
      cursor: pointer; }

.menu {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5em;
  text-shadow: 2px 2px 2px #808080; }
  .menu li:hover {
    color: #013870;
    cursor: pointer; }

footer h2 {
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 2px #808080; }

.tag-line {
  font-family: 'Permanent Marker', cursive;
  color: #013870;
  font-size: 1.5em; }
  @media (max-width: 1000px) {
    .tag-line {
      font-size: 1.1em; } }
  @media (max-width: 775px) {
    .tag-line {
      font-size: 0.85em; } }

.service-container {
  display: none; }

.service-wrap div {
  font-family: 'Kumar One', cursive;
  color: #2c6700; }
  .service-wrap div h2 {
    font-size: 2em;
    text-shadow: 4px 4px 4px #000; }
  .service-wrap div ul {
    font-size: 1.15em;
    text-shadow: 2px 2px 2px #000; }
.service-wrap div div {
  font-family: 'Permanent Marker', cursive;
  color: #013870;
  text-shadow: 0px 0px 0px black; }
  .service-wrap div div:hover {
    color: #013870;
    cursor: pointer; }

.training-detail, .coaching-detail, .walking-detail, .pet-sitting-detail, .bathing-detail, .nail-trimming-detail {
  font-family: 'Permanent Marker', cursive;
  color: #013870; }
  .training-detail h3, .coaching-detail h3, .walking-detail h3, .pet-sitting-detail h3, .bathing-detail h3, .nail-trimming-detail h3 {
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px; }
    @media (max-width: 575px) {
      .training-detail h3, .coaching-detail h3, .walking-detail h3, .pet-sitting-detail h3, .bathing-detail h3, .nail-trimming-detail h3 {
        font-size: 1.8em; } }
  .training-detail li, .coaching-detail li, .walking-detail li, .pet-sitting-detail li, .bathing-detail li, .nail-trimming-detail li {
    margin-bottom: 5px;
    text-shadow: 0px 0px 0px black; }
    @media (max-width: 575px) {
      .training-detail li, .coaching-detail li, .walking-detail li, .pet-sitting-detail li, .bathing-detail li, .nail-trimming-detail li {
        font-size: 0.9em; } }
  .training-detail h4, .coaching-detail h4, .walking-detail h4, .pet-sitting-detail h4, .bathing-detail h4, .nail-trimming-detail h4 {
    font-size: 1.5em; }
    @media (max-width: 575px) {
      .training-detail h4, .coaching-detail h4, .walking-detail h4, .pet-sitting-detail h4, .bathing-detail h4, .nail-trimming-detail h4 {
        font-size: 1.2em; } }
  .training-detail h5, .coaching-detail h5, .walking-detail h5, .pet-sitting-detail h5, .bathing-detail h5, .nail-trimming-detail h5 {
    margin-top: 35px; }

.about-container {
  font-family: 'Oswald', sans-serif; }
  .about-container h2 {
    font-size: 1.8em;
    font-weight: bold; }

header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: #2c6700; }
  @media (max-width: 575px) {
    header {
      flex-direction: column;
      height: 135px; } }
  header .nav-left, header .nav-right {
    display: flex;
    position: relative; }
  header ul {
    display: flex;
    align-items: flex-end;
    padding: 0 80px 5px 10px; }
    @media (max-width: 1000px) {
      header ul {
        padding: 0 10px 5px 5px; }
        header ul:hover + .menu {
          display: block; } }
    header ul li {
      padding: 0 40px; }
      @media (max-width: 1000px) {
        header ul li {
          padding: 0 20px; } }

.logo {
  display: flex;
  align-items: center;
  padding-left: 40px; }
  @media (max-width: 575px) {
    .logo {
      padding-left: 0;
      justify-content: center;
      width: 100%;
      margin-top: 10px; } }
  .logo img {
    height: 80px;
    width: 80px;
    margin-right: 5px; }

.small {
  display: none; }
  @media (max-width: 1000px) {
    .small {
      display: block; } }
  @media (max-width: 575px) {
    .small {
      padding-left: 30px; } }

@media (max-width: 1000px) {
  .large {
    display: none; } }

.menu {
  display: none;
  position: absolute;
  z-index: 10;
  bottom: -135%;
  left: 18%;
  width: 82%;
  background-color: #2c6700; }
  .menu:hover {
    display: block; }
  @media (max-width: 575px) {
    .menu {
      bottom: -418%;
      left: 0;
      width: 100%; } }
  .menu li {
    padding: 10px 10px;
    border-top: 2px solid #eaf6de; }

footer {
  bottom: 0;
  width: 100%;
  height: 80px;
  padding: 0 5%;
  background-color: #2c6700;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 575px) {
    footer {
      height: 80px; } }
  footer .top-scroll {
    display: flex; }
    footer .top-scroll:hover {
      cursor: pointer; }
    footer .top-scroll:hover h2 {
      color: #013870; }
    footer .top-scroll h2:first-of-type {
      transform: rotate(270deg);
      border: 4px solid #fff;
      padding: 15px;
      border-radius: 50%;
      background-color: #eaf6de;
      color: #2c6700; }
      footer .top-scroll h2:first-of-type:hover {
        color: #013870; }
    footer .top-scroll h2:nth-of-type(2) {
      align-self: center;
      padding-left: 3px; }

.nav-container {
  height: 86vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start; }
  @media (max-width: 575px) {
    .nav-container {
      height: 68vh; } }

.landing {
  background: url(../img/michele1.jpg) center no-repeat;
  opacity: 0.8;
  background-size: cover; }

.tag-line {
  width: 400px;
  height: 260px;
  border-radius: 30px;
  padding: 15px;
  margin-top: 6%;
  position: relative;
  margin-left: 7%; }
  @media (max-width: 1000px) {
    .tag-line {
      width: 300px;
      height: 160px; } }
  @media (max-width: 775px) {
    .tag-line {
      width: 225px;
      height: 120px; } }
  @media (max-width: 575px) {
    .tag-line {
      margin: 0 auto;
      width: 100%;
      height: 80px;
      border-radius: 0;
      background-color: #eaf6de; } }
  .tag-line img {
    transform: rotate(180deg);
    width: 490px;
    height: 300px;
    position: absolute;
    left: -17%;
    top: -17%;
    z-index: -2;
    border-radius: 20px;
    box-shadow: 2px 2px 1px #808080; }
    @media (max-width: 1000px) {
      .tag-line img {
        width: 390px;
        height: 200px; } }
    @media (max-width: 775px) {
      .tag-line img {
        width: 295px;
        height: 150px; } }
    @media (max-width: 575px) {
      .tag-line img {
        display: none; } }

.service-container {
  width: 100%;
  min-height: 1375px;
  padding: 30px 0;
  margin: 0 auto;
  background-color: #eaf6de; }
  .service-container .service-wrap {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto; }
    .service-container .service-wrap div {
      height: 435px; }
      @media (max-width: 575px) {
        .service-container .service-wrap div {
          height: 490px; } }

.training {
  background: url(../img/dog-training.jpg) right no-repeat;
  background-size: cover;
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.9;
  position: relative;
  overflow: hidden; }
  .training:hover {
    cursor: pointer;
    color: #fff; }
  .training:hover > .training-detail {
    left: 0; }
  .training ul {
    align-self: flex-end; }
    .training ul li {
      padding-bottom: 10px; }
  .training .training-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms; }
  @media (max-width: 1000px) {
    .training {
      width: 100%; } }

.coaching {
  background: url(../img/coaching.jpg) center no-repeat;
  background-size: cover;
  width: 40%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.8;
  position: relative;
  overflow: hidden; }
  .coaching:hover {
    cursor: pointer;
    color: #fff; }
  .coaching:hover > .coaching-detail {
    left: 0; }
  .coaching ul {
    align-self: flex-end; }
  .coaching .coaching-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 15px 20px 20px 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms; }
  @media (max-width: 1000px) {
    .coaching {
      width: 50%; } }
  @media (max-width: 775px) {
    .coaching {
      width: 100%; } }

.walking {
  background: url(../img/dogwalking.jpg) center no-repeat;
  background-size: cover;
  width: 40%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.8;
  position: relative;
  overflow: hidden; }
  .walking:hover {
    cursor: pointer;
    color: #fff; }
  .walking:hover > .walking-detail {
    left: 0; }
  .walking .walking-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms; }
  .walking ul {
    align-self: flex-end; }
    .walking ul li {
      padding-bottom: 10px; }
  @media (max-width: 1000px) {
    .walking {
      width: 50%; } }
  @media (max-width: 775px) {
    .walking {
      width: 100%; } }

.pet-sitting {
  background: url(../img/pet-sitting.png) center no-repeat;
  background-size: cover;
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.8;
  position: relative;
  overflow: hidden; }
  .pet-sitting:hover {
    cursor: pointer;
    color: #fff; }
  .pet-sitting:hover > .pet-sitting-detail {
    left: 0; }
  .pet-sitting .pet-sitting-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms; }
  .pet-sitting ul {
    align-self: flex-end; }
    .pet-sitting ul li {
      padding-bottom: 10px; }
  @media (max-width: 1000px) {
    .pet-sitting {
      width: 100%; } }

.bathing {
  background: url(../img/dog-bathing.jpg) center no-repeat;
  background-size: cover;
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.8;
  position: relative;
  overflow: hidden; }
  .bathing:hover {
    cursor: pointer;
    color: #fff; }
  .bathing:hover > .bathing-detail {
    left: 0; }
  .bathing .bathing-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms; }
  .bathing ul {
    align-self: flex-end; }
    .bathing ul li {
      padding-bottom: 10px; }
  @media (max-width: 775px) {
    .bathing {
      width: 100%; } }

.nail-trimming {
  background: url(../img/nail-trimming.jpg) center no-repeat;
  background-size: cover;
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.8;
  position: relative;
  overflow: hidden; }
  .nail-trimming:hover {
    cursor: pointer;
    color: #fff; }
  .nail-trimming:hover > .nail-trimming-detail {
    left: 0; }
  .nail-trimming .nail-trimming-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms; }
  .nail-trimming ul {
    align-self: flex-end; }
    .nail-trimming ul li {
      padding-bottom: 10px; }
  @media (max-width: 775px) {
    .nail-trimming {
      width: 100%; } }

.about-container {
  background-color: #eaf6de;
  color: #2c6700;
  width: 100%;
  height: 86vh;
  display: flex; }
  .about-container .about-left {
    display: flex;
    height: 700px;
    width: 40%;
    justify-content: center;
    padding: 15px; }
    .about-container .about-left img {
      width: 400px;
      height: 600px; }
  .about-container .about-right {
    padding: 15px;
    display: flex;
    height: 700px;
    flex-direction: column;
    padding: 15px;
    width: 60%; }
    .about-container .about-right div {
      width: 85%;
      margin: 50px auto; }
      .about-container .about-right div h2 {
        margin-bottom: 10px; }

/*# sourceMappingURL=application.css.map */
