//Landing Page

.nav-container {
  height: 86vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  @media (max-width:$brk-3) {
    height: 68vh;
  }
}
.landing {
  background: url(../img/trees.jpg) center no-repeat ;
  opacity: 0.8;
  background-size: cover;
}
.tag-line {
  width: 400px;
  height: 260px;
  border-radius: 30px;
  padding: 15px;
  margin-top: 6%;
  position: relative;
  margin-left: 7%;
  @media (max-width:$brk-1) {
    width: 300px;
    height: 160px;
  }
  @media (max-width:$brk-2) {
    width: 225px;
    height: 120px;
  }
  @media (max-width:$brk-3) {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    border-radius: 0;
    background-color: $mint-cream;
  }

  img {
    transform: rotate(180deg);
    width: 490px;
    height: 300px;
    position:absolute;
    left: -17%;
    top: -17%;
    z-index: -2;
    border-radius: 20px;
    box-shadow: 2px 2px 1px $gray;
    @media (max-width:$brk-1) {
      width: 390px;
      height: 200px;
    }
    @media (max-width:$brk-2) {
      width: 295px;
      height: 150px;
    }
    @media (max-width:$brk-3) {
      display: none;
    }
  }
}

// Services Page

.service-container  {
  width: 100%;
  min-height: 1375px;
  padding: 30px 0;
  margin: 0 auto;
  background: url(../img/trees.jpg) center no-repeat;
  background-size: cover;
  .service-wrap {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    div {
      height: 435px;
      @media (max-width: $brk-3) {
        height: 490px;
      }
    }
  }
}
.training {
  background: url(../img/dog-training.jpg) right no-repeat;
  background-size: cover;
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.8;
  position: relative;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    color: #fff;
    opacity: 1;
  }
  &:hover > .training-detail {
    left: 0;
  }
  ul {
    align-self: flex-end;
    li {
      padding-bottom: 10px;
    }
  }
  .training-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms;
  }
  @media (max-width:$brk-1) {
    width: 100%;
  }
}
.coaching {
  background: url(../img/coaching.jpg) center no-repeat;
  background-size: cover;
  width: 40%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.8;
  position: relative;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    color: #fff;
    opacity: 1;
  }
  &:hover > .coaching-detail {
    left: 0;
  }
  ul {
    align-self: flex-end;
  }
  .coaching-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 15px 20px 20px 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms;
  }
  @media (max-width:$brk-1) {
    width: 50%;
  }
  @media (max-width:$brk-2) {
    width: 100%;
  }
}
.walking {
  background: url(../img/dogwalking.jpg) center no-repeat;
  background-size: cover;
  width: 40%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.8;
  position: relative;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    color: #fff;
    opacity: 1;
  }
  &:hover > .walking-detail {
    left: 0;
  }
  .walking-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms;
  }
  ul {
    align-self: flex-end;
    li {
      padding-bottom: 10px;
    }
  }
  @media (max-width:$brk-1) {
    width: 50%;
  }
  @media (max-width:$brk-2) {
    width: 100%;
  }
}
.pet-sitting {
  background: url(../img/pet-sitting.png) center no-repeat;
  background-size: cover;
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.8;
  position: relative;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    color: #fff;
    opacity: 1;
  }
  &:hover > .pet-sitting-detail {
    left: 0;
  }
  .pet-sitting-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms;
  }
  ul {
    align-self: flex-end;
    li {
      padding-bottom: 10px;
    }
  }
  @media (max-width:$brk-1) {
    width: 100%;
  }
}
.bathing {
  background: url(../img/dog-bathing.jpg) center no-repeat;
  background-size: cover;
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.8;
  position: relative;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    color: #fff;
    opacity: 1;
  }
  &:hover > .bathing-detail {
    left: 0;
  }
  .bathing-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms;
  }
  ul {
    align-self: flex-end;
    li {
      padding-bottom: 10px;
    }
  }
  @media (max-width:$brk-2) {
    width: 100%;
  }
}
.nail-trimming {
  background: url(../img/nail-trimming.jpg) center no-repeat;
  background-size: cover;
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.8;
  position: relative;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    color: #fff;
    opacity: 1;
  }
  &:hover > .nail-trimming-detail {
    left: 0;
  }
  .nail-trimming-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms;
  }
  ul {
    align-self: flex-end;
    li {
      padding-bottom: 10px;
    }
  }
  @media (max-width:$brk-2) {
    width: 100%;
  }
}

//About Page

.about-container {
  display: none;
  color: $blue;
  width: 100%;
  background: url(../img/trees.jpg) center no-repeat;
  background-size: cover;
  h2 {
    margin-bottom: 10px;
  }
  .about-left {
    display: flex;
    flex-wrap: wrap;
    min-height: 400px;
    width: 100%;
    padding: 15px;
    img {
      width: 250px;
      height: 360px;
      border-radius: 40%;
      box-shadow: 4px 4px 4px $gray;
    }
  }
  .about-right {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px;
    min-height: 400px;
    padding: 15px;
    img {
      align-self: flex-start;
      width: 90%;
      height: 380px;
      border-radius: 20%;
      filter: brightness(80%);
      box-shadow: 4px 4px 4px $gray;
      opacity: 0.8;
      @media (max-width: $brk-1) {
        height: 400px;
      }
      @media (max-width: $brk-3) {
        height: 275px;
      }
    }
    @media (max-width: $brk-1) {
      flex-wrap: wrap-reverse;
    }
  }
}
.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  @media (max-width: $brk-1) {
    width: 100%;
    margin: 2px auto;
  }
}
.story, .experience {
  width: 50%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $mint-cream;
  border-radius: 50px;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
  @media (max-width: $brk-1) {
    width: 100%;
    margin: 0 auto;
  }
}

.testimonials-wrap {
  padding: 15px;
  .testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 65%;
    background-color: $mint-cream;
    border-radius: 50px;
    opacity: 0.8;
    padding: 25px;
    &:hover {
      opacity: 1;
    }
    p {
      margin-bottom: 10px;
    }
    @media (max-width: $brk-1) {
      width: 100%;
    }
  }
}

// Contact

.contact-container {
  background: url(../img/trees.jpg) center no-repeat;
  background-size: cover;
  opacity: 0.8;
  height: 86vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width:$brk-3) {
    height: 68vh;
  }
  form {
    height: 350px;
    width: 625px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: $mint-cream;
    border-radius: 20px;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
    .contact {
      height: 70px;
      width: 130px;
    }
    .question {
      height: 200px;
      margin-bottom: 10px;
    }
  }
}
