//Landing Page

.nav-container {
  height: 90vh;
  margin-top: 10vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @media (max-width:$brk-3) {
    // height: 68vh;
  }
}
.landing {
  background: url(../img/landing.jpg) no-repeat ;
  opacity: 0.8;
  background-size: cover;
  background-color: rgba(114,120,109, 0.4);
}
.tag-line {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 150px;
  border-radius: 30px;
  padding: 15px;
  margin-top: 15%;
  position: relative;
  @media (max-width:$brk-1) {

  }
  @media (max-width:$brk-2) {

  }
  @media (max-width:$brk-3) {
    margin-top: 25%;
  }
}
.down-arrow {
  text-align: center;
  margin-top: 100px;
  @media (max-width:$brk-2) {
    margin-top: 50px;
  }

  @media (max-width:$brk-3) {
    margin-top: 20px;
  }
  img {
    width: 150px;
    height: 115px;
    transition: all linear 300ms;
    cursor: pointer;
    &:hover {
      width: 200px;
      height: 150px;
    }
  }
}
.petFinder {
  position: absolute;
  display: flex;
  align-items: center;
  font-family: 'Walter Turncoat', cursive;
  font-size: 1.5em;
  width: 325px;
  height: 75px;
  background-color: $blue;
  box-shadow: 2px 2px 0px $gray;
  color: $white;
  border-radius: 10px;
  bottom: 20px;
  right: 50px;
  text-align: center;
  cursor: pointer;
  span {
    font-size: 0.7em;
  }
  #right-arrow {
    margin-right: 5px;
    font-size: 1.5em;
  }
  @media (max-width: $brk-2) {
    bottom: 0px;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 10px auto;
  }
}

// Services Page

.service-container  {
  width: 100%;
  min-height: 1375px;
  padding: 75px 0;
  margin: 0 auto;
  background-color: $mint-cream;
  .service-wrap {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    div {
      height: 435px;
      @media (max-width: $brk-3) {
        height: 490px;
      }
    }
  }
}
.training {
  background: url(../img/dog-training.jpg) right no-repeat;
  background-size: cover;
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.8;
  position: relative;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    color: #fff;
    opacity: 1;
  }
  &:hover > .training-detail {
    left: 0;
  }
  ul {
    align-self: flex-end;
    li {
      padding-bottom: 10px;
    }
  }
  .training-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms;
  }
  @media (max-width:$brk-1) {
    width: 100%;
  }
}
.coaching {
  background: url(../img/coaching.jpg) center no-repeat;
  background-size: cover;
  width: 40%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.8;
  position: relative;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    color: #fff;
    opacity: 1;
  }
  &:hover > .coaching-detail {
    left: 0;
  }
  ul {
    align-self: flex-end;
  }
  .coaching-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 15px 20px 20px 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms;
  }
  @media (max-width:$brk-1) {
    width: 50%;
  }
  @media (max-width:$brk-2) {
    width: 100%;
  }
}
.walking {
  background: url(../img/dogwalking.jpg) center no-repeat;
  background-size: cover;
  width: 40%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.8;
  position: relative;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    color: #fff;
    opacity: 1;
  }
  &:hover > .walking-detail {
    left: 0;
  }
  .walking-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms;
  }
  ul {
    align-self: flex-end;
    li {
      padding-bottom: 10px;
    }
  }
  @media (max-width:$brk-1) {
    width: 50%;
  }
  @media (max-width:$brk-2) {
    width: 100%;
  }
}
.pet-sitting {
  background: url(../img/pet-sitting.png) center no-repeat;
  background-size: cover;
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.8;
  position: relative;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    color: #fff;
    opacity: 1;
  }
  &:hover > .pet-sitting-detail {
    left: 0;
  }
  .pet-sitting-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms;
  }
  ul {
    align-self: flex-end;
    li {
      padding-bottom: 10px;
    }
  }
  @media (max-width:$brk-1) {
    width: 100%;
  }
}
.bathing {
  background: url(../img/dog-bathing.jpg) center no-repeat;
  background-size: cover;
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.8;
  position: relative;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    color: #fff;
    opacity: 1;
  }
  &:hover > .bathing-detail {
    left: 0;
  }
  .bathing-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms;
  }
  ul {
    align-self: flex-end;
    li {
      padding-bottom: 10px;
    }
  }
  @media (max-width:$brk-2) {
    width: 100%;
  }
}
.nail-trimming {
  background: url(../img/nail-trimming.jpg) center no-repeat;
  background-size: cover;
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.8;
  position: relative;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    color: #fff;
    opacity: 1;
  }
  &:hover > .nail-trimming-detail {
    left: 0;
  }
  .nail-trimming-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms;
  }
  ul {
    align-self: flex-end;
    li {
      padding-bottom: 10px;
    }
  }
  @media (max-width:$brk-2) {
    width: 100%;
  }
}

//About Page

.about-container {
  color: $white;
  width: 100%;
  background-color: $white;
  padding-top: 80px;
  h2 {
    margin-bottom: 10px;
  }
  .about-left {
    display: flex;
    flex-wrap: wrap;
    min-height: 400px;
    width: 100%;
    padding: 15px;
    img {
      width: 250px;
      height: 360px;
      border-radius: 50%;
      box-shadow: 2px 2px 2px $gray;
    }

  }
  .about-right {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px;
    min-height: 400px;
    padding: 15px;
    img {
      align-self: flex-start;
      width: 90%;
      height: 380px;
      border-radius: 20%;
      filter: brightness(80%);
      box-shadow: 4px 4px 4px $gray;
      opacity: 0.8;
      @media (max-width: $brk-1) {
        height: 400px;
      }
      @media (max-width: $brk-3) {
        height: 275px;
      }
    }
    @media (max-width: $brk-1) {
      flex-wrap: wrap-reverse;
    }
  }
}
.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  @media (max-width: $brk-1) {
    width: 100%;
    margin: 2px auto;
  }
}
.story, .experience {
  background-image: radial-gradient(50% 150%, #6A91A9 20%, rgba(0,0,0,0.57) 100%);
  margin: auto;
  width: 45%;
  padding: 25px;
  min-height: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20px;
  @media (max-width: $brk-1) {
    width: 100%;
    margin: 20px auto;
  }
}
.testimonials-wrap {
  padding: 25px;
  @media (max-width: $brk-1) {
    padding-top: 0;
  }
  .testimonials {
    background-image: radial-gradient(50% 150%, #6A91A9 20%, rgba(0,0,0,0.57) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    width: 65%;
    border-radius: 20px;
    padding: 25px;
    p {
      margin-bottom: 10px;
    }
    @media (max-width: $brk-1) {
      width: 100%;
    }
  }
}

// Contact

.contact-container {
  background: url(../img/trees.jpg) center no-repeat;
  background-size: cover;
  opacity: 0.7;
  height: auto;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 25px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @media (max-width:$brk-2) {
    // height: 82.5vh;
  }
  @media (max-width:$brk-3) {
    // height: 66.4vh;
    padding-top: 10px;
  }
  .image {
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    img {
      height: 150px;
      width: 200px;
      @media (max-width:$brk-2) {
        height: 100px;
        width: 130px;
      }
    }
    @media (max-width:$brk-2) {
      width: 500px;
    }
    @media (max-width:$brk-3) {
      width: 95%;
      margin: 0 auto;
    }
  }
  form {
    height: 350px;
    margin: auto;
    width: 625px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: $mint-cream;
    border-radius: 20px;
    .contact {
      height: 70px;
      width: 140px;
    }
    .question {
      height: 200px;
      margin-bottom: 10px;
    }
    @media (max-width:$brk-2) {
      width: 500px;
    }
    @media (max-width:$brk-3) {
      width: 95%;
      margin: 0 auto;
      height: 350px;
    }
  }
}

// Pet Finder Page

.petfinder-container {
  width: 100%;
  min-height: 81vh;
  background: url(../img/trees.jpg) center no-repeat;
  background-size: cover;
  opacity: 0.7;
  margin-top: 10vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  h1 {
    font-family: 'Walter Turncoat', cursive;
    color: $white;
    text-align: center;
    font-size: 3em;
    margin-top: 20px;
    text-shadow: 2px 2px 0px $gray;
    @media (max-width: $brk-2) {
      font-size: 2.5em;
      margin-top: 40px;
    }
  }
}
.petFind {
  width: 60%;
  margin: 2vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $mint-cream;
  border-radius: 10px;
  padding: 15px;
  font-family: 'Varela', sans-serif;
  color: $blue;
  @media (max-width: $brk-2) {
    width: 80%;
  }
  h2 {
    font-size: 1.5em;
    margin-bottom: 25px;
    text-align: center;
  }
  button {
    width: 150px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
    cursor: pointer;
  }
  select {
    margin-bottom: 15px;
    width: 60%;
    height: 30px;
  }
}
.results {
  position: absolute;
  top: 10vh;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  @media (max-width: $brk-3) {
    top: 13vh;
    margin-top: 30px;
  }
}
.petResults {
  width: 30%;
  padding: 20px;
  height: 400px;
  overflow: scroll;
  margin: 15px;
  background-image: radial-gradient(50% 150%, #6A91A9 20%, rgba(0,0,0,0.57) 100%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  list-style: none;
  font-family: 'Varela', sans-serif;
  color: $white;
  h2 {
    text-align: center;
  }
  @media (max-width: 900px) {
    width: 40%;
  }
  @media (max-width: 650px) {
    width: 60%;
  }
  @media (max-width: 475px) {
    width: 80%;
  }
}
.petImage {
  width: 200px;
  height: 135px;
  margin: 10px auto 10px auto;
}
