//Landing Page

.nav-container {
  height: 86vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  @media (max-width:$brk-3) {
    height: 68vh;
  }
}
.landing {
  background: url(../img/michele1.jpg) center no-repeat ;
  opacity: 0.8;
  background-size: cover;
}
.tag-line {
  width: 400px;
  height: 260px;
  border-radius: 30px;
  padding: 15px;
  margin-top: 6%;
  position: relative;
  margin-left: 7%;
  @media (max-width:$brk-1) {
    width: 300px;
    height: 160px;
  }
  @media (max-width:$brk-2) {
    width: 225px;
    height: 120px;
  }
  @media (max-width:$brk-3) {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    border-radius: 0;
    background-color: $mint-cream;
  }

  img {
    transform: rotate(180deg);
    width: 490px;
    height: 300px;
    position:absolute;
    left: -17%;
    top: -17%;
    z-index: -2;
    border-radius: 20px;
    box-shadow: 2px 2px 1px $gray;
    @media (max-width:$brk-1) {
      width: 390px;
      height: 200px;
    }
    @media (max-width:$brk-2) {
      width: 295px;
      height: 150px;
    }
    @media (max-width:$brk-3) {
      display: none;
    }
  }
}

// Services Page

.service-container  {
  width: 100%;
  min-height: 1375px;
  padding: 30px 0;
  margin: 0 auto;
  background-color: $mint-cream;
  .service-wrap {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    div {
      height: 435px;
      @media (max-width: $brk-3) {
        height: 490px;
      }
    }
  }
}
.training {
  background: url(../img/dog-training.jpg) right no-repeat;
  background-size: cover;
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.9;
  position: relative;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    color: #fff;
  }
  &:hover > .training-detail {
    left: 0;
  }
  ul {
    align-self: flex-end;
    li {
      padding-bottom: 10px;
    }
  }
  .training-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms;
  }
  @media (max-width:$brk-1) {
    width: 100%;
  }
}
.coaching {
  background: url(../img/coaching.jpg) center no-repeat;
  background-size: cover;
  width: 40%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.8;
  position: relative;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    color: #fff;
  }
  &:hover > .coaching-detail {
    left: 0;
  }
  ul {
    align-self: flex-end;
  }
  .coaching-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 15px 20px 20px 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms;
  }
  @media (max-width:$brk-1) {
    width: 50%;
  }
  @media (max-width:$brk-2) {
    width: 100%;
  }
}
.walking {
  background: url(../img/dogwalking.jpg) center no-repeat;
  background-size: cover;
  width: 40%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.8;
  position: relative;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    color: #fff;
  }
  &:hover > .walking-detail {
    left: 0;
  }
  .walking-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms;
  }
  ul {
    align-self: flex-end;
    li {
      padding-bottom: 10px;
    }
  }
  @media (max-width:$brk-1) {
    width: 50%;
  }
  @media (max-width:$brk-2) {
    width: 100%;
  }
}
.pet-sitting {
  background: url(../img/pet-sitting.png) center no-repeat;
  background-size: cover;
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.8;
  position: relative;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    color: #fff;
  }
  &:hover > .pet-sitting-detail {
    left: 0;
  }
  .pet-sitting-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms;
  }
  ul {
    align-self: flex-end;
    li {
      padding-bottom: 10px;
    }
  }
  @media (max-width:$brk-1) {
    width: 100%;
  }
}
.bathing {
  background: url(../img/dog-bathing.jpg) center no-repeat;
  background-size: cover;
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.8;
  position: relative;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    color: #fff;
  }
  &:hover > .bathing-detail {
    left: 0;
  }
  .bathing-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms;
  }
  ul {
    align-self: flex-end;
    li {
      padding-bottom: 10px;
    }
  }
  @media (max-width:$brk-2) {
    width: 100%;
  }
}
.nail-trimming {
  background: url(../img/nail-trimming.jpg) center no-repeat;
  background-size: cover;
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  opacity: 0.8;
  position: relative;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    color: #fff;
  }
  &:hover > .nail-trimming-detail {
    left: 0;
  }
  .nail-trimming-detail {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 20px;
    opacity: 1;
    left: -300%;
    top: 0;
    height: 100%;
    transition: left 0.7s ease-in-out 200ms;
  }
  ul {
    align-self: flex-end;
    li {
      padding-bottom: 10px;
    }
  }
  @media (max-width:$brk-2) {
    width: 100%;
  }
}

//About Page
.about-container {
  background-color: $mint-cream;
  color: $kelly-green;
}
