header {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  background-color: $kelly-green;
  @media (max-width:$brk-3) {
    flex-direction: column;
    height: 18vh;
  }
  .nav-left, .nav-right {
    display: flex;
    position: relative;
  }
  ul {
    display: flex;
    align-items: flex-end;
    padding: 0 80px 5px 10px;
    @media (max-width:$brk-1) {
      padding: 0 10px 5px 5px;
      &:hover + .menu {
        display: block;
      }
    }
    li {
      padding: 0 40px;
      @media (max-width:$brk-1) {
        padding: 0 20px;
      }
    }
  }
}
.logo {
  display: flex;
  align-items: center;
  padding-left: 40px;
  @media (max-width:$brk-3) {
    padding-left: 0;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }
  img {
    height: 80px;
    width: 80px;
    margin-right: 5px;
  }
}
.small {
  display: none;
  @media (max-width:$brk-1) {
    display: block;
  }
  @media (max-width:$brk-3) {
    padding-left: 30px;
  }
}
.large {
  @media (max-width:$brk-1) {
    display: none;
  }
}
.menu {
  display: none;
  position: absolute;
  z-index: 10;
  bottom:-135%;
  left: 18%;
  width: 82%;
  background-color: $kelly-green;
  &:hover {
    display: block;
  }
  @media (max-width:$brk-3) {
    bottom:-418%;
    left: 0;
    width: 100%;
  }
  li {
    padding: 10px 10px;
    border-top: 2px solid $mint-cream;
  }
}
