//Buttons

.btn {
  padding: 15px;
  width: 180px;
  height: 150px;
  align-self: center;
  cursor: pointer;
  font-family: 'Walter Turncoat', cursive;
  color: #fff;
  background-color: $blue;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 0px $gray;
  &:hover {
    background-color: $kelly-green;
  }
  &:focus {
    outline:0;
  }
}
