//Colors

$kelly-green: #399E5A;
$mint-cream: rgb(234,246,222);
$gray: #808080;
$blue: rgb(1,56,112);
$red: rgb(199,50,73);
$white: #FFF;

//Media Query

$brk-1: 1000px;
$brk-2: 775px;
$brk-3: 580px;
